<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog-one.min.css">
</head>

<body>


  {% include "app/module/_header/_header.html" %}

  <main class="main">
    
    {% include "app/module/_top/_top.html" %}

    <section class="blog-page blog-one">
      <div class="container">
        <div class="blog-page__inner">
          <div class="blog-page__content blog-one__content">
            <img class="blog-page__img" src="images/blog/page-1.jpg" alt="blog img">
            <div class="blog-one__text">
              <ul class="blog-one__info">
                <li class="blog-one__info-item">
                  <span class="blog-one__info-link" href="#">
                    16 February, 2020
                  </span>
                </li>
                <li class="blog-one__info-item">
                  <a class="blog-one__info-link blog-one__info-link--commen" href="#">
                    3 comments
                  </a>
                </li>
                <li class="blog-one__info-item">
                  <a class="blog-one__info-link blog-one__info-link--author" href="#">
                    By Admin
                  </a>
                </li>
              </ul>

              <h4>In Particular The Global World Of Lorem Ipsum Asap Tempor</h4>
              <p>Lorem ipsum dolor siit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt more utmm
                labore et dolore
                magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo ecenas accumsan lacus vel
                facilisis. Quis ipsum
                suspenidisse ultrices gravida. Risus comdouma viverra more maecenas accumsan lacus vel facilisis.</p>
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elt, sed does eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua dilo. Quis ipsum suspendisse ultrices gravida.
              </blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt of in utmm
                labore et dolore
                magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo ecenas accumsan lacus vel
                facilisis. Quis ipsum
                suspendisse ultrices gravida. Risus comdoumar viverra more maecenas accumsan lacus vel facilisis.</p>
              <img class="blog-one__left-img" src="images/blog/blog-one.jpg" alt="">
              <p>Lorem ipsum dolor sit amet, consectur picing elit, sed do eusmod tempor incididunt ut mor more labore a
                doore magna
                aliqua. Quis into ipsum the suspendisse ultrices grda. Lorem in ipsum dolor sit amet, consectetur
                adipiscings elit, sed
                does eiusmod tempor incididunt mod labore et dolore magna aliqua. Quis ipsum in suspendisse fass a
                ultrices gravida.
                Loremon ipsum dolor st amaiet, consectetur aipiscinge elit, sed do eiusobimod tempor incididunt uts
                labore et doloroe
                gravida.
              </p>
            </div>
            <div class="blog-one__box">
              <div class="blog-one__tags">
                <span>TAGS:</span> <a href="#">Fashion</a>, <a href="#">Style</a>
              </div>
              <div class="blog-one__share">
                <span>share:</span>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="NaN" width="16">
                    <path
                      d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                    </path>
                  </svg>
                </a>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15">
                    <path
                      d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                    </path>
                  </svg>
                </a>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512" height="NaN" width="17">
                    <path
                      d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z">
                    </path>
                  </svg>
                </a>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" height="NaN" width="16">
                    <path
                      d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>

            <div class="blog-one__author">
              <img class="blog-one__author-img" src="images/blog/author.jpg" alt="">
              <div class="blog-one__author-info">
                <h5 class="blog-one__author-name">JHON DOE</h5>
                <p class="blog-one__author-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo
                  dajsna for tempor incididunt ut labore et dolore
                  magna aliqua. Quis ipsum more in the a mo spendisse ultrices gravida. Risus commodo.
                </p>
              </div>
            </div>

            <div class="comments-title">
              O2 COMMENTS
            </div>

            <div class="comments">
              <img class="comments__img" src="images/avatar/1.jpg" alt="avatar">
              <div class="comments__content">
                <div class="comments__content-top">
                  <p class="comments__content-name">Michle Jhon</p>
                  <p class="comments__content-date">2 days ago</p>
                </div>
                <p class="comments__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Qus ipsum speissei ultrices gravida. Risus commodo viverra maeenas accumsan lacus vel
                  facilisis.</p>
                <a class="comments__content-reply" href="#">Reply</a>
              </div>
            </div>
            <div class="comments">
              <img class="comments__img" src="images/avatar/2.jpg" alt="avatar">
              <div class="comments__content">
                <div class="comments__content-top">
                  <p class="comments__content-name">Michle Jhon</p>
                  <p class="comments__content-date">2 days ago</p>
                </div>
                <p class="comments__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor
                  incididunt ut labore et dolore magna
                  aliqua. Qus ipsum speissei ultrices gravida. Risus commodo viverra maeenas accumsan lacus vel
                  facilisis.</p>
                <a class="comments__content-reply" href="#">Reply</a>
              </div>
            </div>
            <div class="comments">
              <img class="comments__img" src="images/avatar/3.jpg" alt="avatar">
              <div class="comments__content">
                <div class="comments__content-top">
                  <p class="comments__content-name">Michle Jhon</p>
                  <p class="comments__content-date">2 days ago</p>
                </div>
                <p class="comments__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod
                  tempor
                  incididunt ut labore et dolore magna
                  aliqua. Qus ipsum speissei ultrices gravida. Risus commodo viverra maeenas accumsan lacus vel
                  facilisis.
                </p>
                <a class="comments__content-reply" href="#">Reply</a>
              </div>
            </div>
            <form class="comments-form" action="#">
              <p class="blog-one__form-title">LEAVE A REPLY</p>
              <div class="comments-form__box-input">
                <input class="comments-form__text-input" type="text" placeholder="Your name">
                <input class="comments-form__text-input" type="text" placeholder="Your email">
              </div>
              <textarea class="comments-form__textarea" placeholder="Your comment"></textarea>
              <button class="comments-form__btn" type="submit">POST COMMENT</button>
            </form>
          </div>
          <div class="blog-page__aside">
            <div class="filter__item filter-search ">
              <h3 class="filter__title">Search</h3>
              <form class="filter-search__form" action="#">
                <input class="filter-search__input" placeholder="Search your keyword...." type="text">
                <button class="filter-search__btn" type="submit">
                  <img src="images/icons/search-white.svg" alt="search">
                </button>
              </form>
            </div>

            <div class="person">
              <img class="person__img" src="images/avatar/ceo.jpg" alt="avatar">
              <div class="person__name">Tom D. Maianay</div>
              <div class="person__position"></div>
              <div class="person__text">
                Lorem ipsum dolor sit amet, consectetum adipiscing eit, sed do eiusmod temporary incididunt ut labore et
                dolore magnaamo aliqua. Qus ipsum suspendisse ultrices an gravida. Risus commodo
              </div>
              <div class="person__social">
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="18">
                    <path
                      d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                    </path>
                  </svg>
                </a>
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16">
                    <path
                      d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                    </path>
                  </svg>
                </a>
                <a class="person__social-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="16">
                    <path
                      d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>

            <div class="latest-post">
              <h3 class="latest-post__title">
                Latest Post
              </h3>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img class="latest-post__img" src="images/blog/aside-1.jpg" alt="">
                </a>
                <div class="latest-post__box">
                  <a class="latest-post__box-link" href="#">
                    <h5 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h5>
                  </a>
                  <div class="latest-post__box-date">
                    16 Feb, 2019
                  </div>
                </div>
              </div>

              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img class="latest-post__img" src="images/blog/aside-2.jpg" alt="">
                </a>
                <div class="latest-post__box">
                  <a class="latest-post__box-link" href="#">
                    <h5 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h5>
                  </a>
                  <div class="latest-post__box-date">
                    16 Feb, 2019
                  </div>
                </div>
              </div>
              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img class="latest-post__img" src="images/blog/aside-3.jpg" alt="">
                </a>
                <div class="latest-post__box">
                  <a class="latest-post__box-link" href="#">
                    <h5 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h5>
                  </a>
                  <div class="latest-post__box-date">
                    16 Feb, 2019
                  </div>
                </div>
              </div>
              <div class="latest-post__item">
                <a class="latest-post__img-link" href="#">
                  <img class="latest-post__img" src="images/blog/aside-4.jpg" alt="">
                </a>
                <div class="latest-post__box">
                  <a class="latest-post__box-link" href="#">
                    <h5 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h5>
                  </a>
                  <div class="latest-post__box-date">
                    16 Feb, 2019
                  </div>
                </div>
              </div>
            </div>

            <div class="filter__item filter-category">
              <h3 class="filter__title">CATEGORY</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Woman</span>
                    <span class="filter-category__span">48</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Man</span>
                    <span class="filter-category__span">30</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Sale Products</span>
                    <span class="filter-category__span">92</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Fashion</span>
                    <span class="filter-category__span">121</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Hot Dresses</span>
                    <span class="filter-category__span">52</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Accessories</span>
                    <span class="filter-category__span">88</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__span">Woman</span>
                    <span class="filter-category__span">48</span>
                  </div>
                </label>
              </form>
            </div>
            <div class="filter-popular filter__item">
              <h3 class="filter-popular-title filter__title">Popular Tags</h3>
              <form class="filter-popular__form" action="#">
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    Sweetshirt
                  </span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    Man Accessories
                  </span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    Fashion
                  </span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    Polo
                  </span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    T-Shirt
                  </span>
                </label>
                <label class="filter-popular__label">
                  <input class="filter-popular__input" type="checkbox">
                  <span class="filter-popular__checkbox">
                    Jewellery
                  </span>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "app/module/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>